.full-width{
  width: 100%;
}

.songs-view{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.box-fix{
  box-sizing: border-box;
  padding: .2em;
}

.btn-fix{
  text-align: center;
  font-size: 1.1em;
  outline: none;
  padding: .2em;
  border-radius: 1em;
  border: none;
}

.flex-container{
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: stretch;
}

.center-box{
  margin-left: auto;
  margin-right: auto;
}

.flex-box{
  width: 60%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
}

.user-position{
  height: 16em;
  box-sizing: border-box;
  padding: 1em;
  margin-top: 2em;
  background: rgba(28, 29, 28, 1);
  width: 100%;
  display:flex;
  flex-direction: column;
}

.top-fixed{
  position: fixed;
  left: 0; top: 0;
}

.left-text{
  text-align: left;
}

.center-text{
  text-align: center;
}

.float-left{
  float: left;
  margin-left: 1.4em;
}

.upload-song-div{
  float: right;
}

.vote-box{
  border-bottom-right-radius: 2em;
  border: 1px solid black;
  width: 7%;
  margin-top: -20.3em;
  float: left;
  background: rgb(0, 170, 129);
  height: 13em;
  z-index: -1;
  margin-left: -2em;
}

/*videos en la pagina pricipal*/
.ng-binding{
  float: right;
  width: 100%;
  margin-bottom: 2em;
}

.flex-center{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 3.5em;
}

.song-points{
  font-size: 1.3em;
  margin-top: 1em;
}


.header-nav li{
  display: inline-block;
}

.settings-img{
  margin-top: .5em;
  width: 80%;
  cursor: pointer;
}

.search-img{
  margin-top: .5em;
  width: 70%;
  cursor: pointer;
  z-index: 50;
}

.main-search{
  padding: .4em;
  border: none;
  width: 100%;
  float: left;
  margin-top: -3.1em;
  margin-right: 10em;
  margin-left: 1.5em;
  outline: none;
}

.settings-box{
  background: rgb(15, 15, 15);
  position: fixed;
  top: 5.5em;
  right: 0;
  border: 1px solid black;
  width: 10%;
  height: 10em;
  overflow: hidden;
}

.settings-box h3{
  color: antiquewhite;
  position: absolute;
  bottom: .5em;
  right: .5em;
}

.greetingsBox{
  width: 60vw;
  height: 10vh;
  position: absolute;
  margin: auto;
  top: 12em;
  left: 0; right: 0;
  -webkit-animation-delay: 3s;
}

.greetingsBox h1{
  font-size: 2em;
}

.users-btn{
  box-shadow: 0 0 .2em rgba(0, 170, 129, 1);
  padding: .4em;
  color: antiquewhite;
  background: rgb(28, 29, 28);
  border: none;
  cursor: pointer;
  margin: .1em;
}

.pull-up{
  margin-top: -2em;
}

.show-hidden-box{
  position: fixed;
  top: 4.5em;
  right: 1em;
  z-index: 100
}

.log-in-box{
  display: inline-block;
}

.profile-info-box{
  width: 90%;
  background: rgb(28, 29, 28);
  color: white;
  overflow: hidden;
  padding-top: 2em;
  margin-top: -5em;
  position: relative;
  height: 12em;
}

.profile-info-box section{
  border-left: 1px solid rgba(0, 170, 129, 1);
  border-right: 1px solid rgba(0, 170, 129, 1);
  width: 50%;
  height: 15vh;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
}

.profile-info-box div{
  position: absolute;
  right: 0; top: 0; bottom: 0;
  width: 20%;
  margin: auto;
  height: 10vh;
}

.profile-pic{
  position: absolute;
  left: 1.5em; top: 0; bottom: 0;
  margin: auto;
  border-radius: 0;
  box-shadow: 0 0 .4em rgba(0, 170, 129, 1);
  width: 20%;
  z-index: 100;
}


.fix-ng-binding{
  margin-top: -1.2em;
}
