.top-fixed{
  position: fixed;
  left: 0; top: 0;}

.left-text{
  text-align: left;}

.center-text{
  text-align: center;}

.float-left{
  float: left;
  margin-left: 1.4em;}

.full-width{
  width: 100%;}

.medium-img{
  width: 80%;}

.center-box{
  margin-left: auto;
  margin-right: auto;}

.text-center{
  text-align: center;}

.songs-view{
  width: 80%;}

.box-fix{
  box-sizing: border-box;
  padding: .2em;}

.btn-fix{
  text-align: center;
  font-size: 1.1em;
  outline: none;
  padding: .2em;
  border-radius: 1em;
  border: none;}

.flex-container{
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: stretch;}

.flex-box{
  width: 60%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;}

.user-position{
  height: 16em;
  box-sizing: border-box;
  padding: 1em;
  margin-top: 2em;
  background: rgba(28, 29, 28, 1);
  display:flex;
  flex-direction: column;}

.upload-song-div{
  float: right;}

.vote-box{
  border: 1px solid black;
  width: 7%;
  margin-top: -18.5em;
  float: left;
  background: rgb(0, 170, 129);
  height: 10.5em;
  z-index: -1;
  margin-left: -2em;}

/*videos en la pagina pricipal*/
.ng-binding{
  float: right;
  width: 100%;
  margin-bottom: 1.5em;}

.flex-center{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 3.5em;}

.song-points{
  font-size: 1.3em;
  margin-top: 1em;}

.header-nav li{
  display: inline-block;}

.settings-img{
  margin-top: .5em;
  width: 80%;
  cursor: pointer;}

.search-img{
  margin-top: .5em;
  width: 70%;
  cursor: pointer;
  z-index: 50;}

.users-btn{
  box-shadow: 0 0 .2em rgba(0, 0, 0, 1);
  padding: .4em;
  color: antiquewhite;
  background: rgb(28, 29, 28);
  border: none;
  cursor: pointer;
  margin: .1em;}

.pull-up{
  margin-top: -2em;}

.pull-up-4{
  margin-top: -4em;}

.push-down{
  margin-bottom: 1.4em}

.show-hidden-box{
  box-shadow: 0 0 .5 rgba(0, 0, 0, 1);
  position: absolute;
  right: 0em; bottom: 0}

.log-in-box{
  display: inline-block;}

.profile-info-box{
  width: 90%;
  background: rgb(28, 29, 28);
  color: white;
  overflow: hidden;
  padding-top: 2em;
  margin-top: -4em;
  position: relative;
  height: 12em;}

.profile-info-box section{
  font-size: 1.2em;
  width: 50%;
  height: 10em;
  position: absolute;
  top: 12.9em; left: 0; right: 0; bottom: 0;
  margin: auto;}

.profile-info-box div{
  position: absolute;
  right: 0; top: 0; bottom: 0;
  width: 20%;
  margin: auto;
  height: 10em;}

.profile-pic{
  position: absolute;
  left: 1.5em; top: 0; bottom: 0;
  margin: auto;
  border-radius: 0;
  box-shadow: 0 0 .4em rgba(0, 170, 129, 1);
  width: 20%;
  z-index: 100;}

.fix-ng-binding{
  margin-top: -1.2em;}

.votes-position{
  position: fixed;
  z-index: 101;
  top: .5em;
  width: 5%;
  font-size: 2em;
  right: 0;}
