/*DESKTOP*/
@media (max-width: 900px){
}


/*TABLET*/
@media (max-width: 1100px){

  .vote-box{
    margin-left: 1.1em;
  }

  .user-container{
    margin-top: -3.5em;
  }

  .main-content{
    width: 100%;
  }

  .save-btn{
    width: 50%;
    box-shadow: 0 0 .2em;
  }
  .create-user-wrapper{
    width: 80%;
  }

  .song-style-wrapper{
    width: 95%;
  }

  .usr-info{
    margin-top: .5em;
    font-size: 1.2em;
  }
}


/*MOBILE*/
@media (max-width: 600px){
  .vote-box{
    border: 1px solid black;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 7%;
    margin-top: -15.2em;
    float: right;
    transition: all .2s;
    width: 20%;
    position: static;
  }

  .icon-img{
    width: 100%;
    height: 2em;
    cursor: pointer;
  }

  .main-header{
    width: 100%;
  }

  .main-nav-bar{
    height: auto;
    display: none;
  }

  .app-logo{
    text-align: center;
    transition: text-align .5s;
  }

  .flex-container{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .ng-scope{
    margin-top: -1em;
    width: 100%;
    transition: all .2s;
  }

  /*form*/
  .ng-valid,
  .ng-valid-email{
    border: none;
    outline: none;
    display: block;
    width: 90%;
    transition: all .3s;
  }

  .nav-btn{
    font-size: 1.5em;
    margin: .2em;
  }

  .save-btn{
    width: 50%;
    box-shadow: 0 0 .2em;
  }

  .user-container{
    margin-top: 4.3em;
  }

  .user-position{
    height: 10em;
    width: 100vw;
  }

  .edit-user-btn{
    width: 25%;
    margin-left: .3em;
  }

  img{
    border-radius: 0;
    width: 30%;
  }

  .usr-info{
    margin-top: .5em;
    font-size: 1.2em;
  }

  .enter-song-form{
    margin-top: 8em;
  }

  .ng-binding{
    width: 100%;
  }

  iframe{
    width: 90%;
    margin-top: 2em;
  }

  .d-block{
    display: inline-block;
  }

  .user-form{
    margin-top: 12.5em;
  }

  .create-user-wrapper{
    width: 90%;
  }

  .title-bg{
    margin-top: -2.8em;
  }

  .m-position{
    margin-top: 4.2em;
  }
}
