@media (max-width: 1100px){
  header{
    box-shadow: 0 0 .5em;}

  .app-logo{
    margin-top: .1em;
    font-size: 2.5em;}

  .vote-box{
    width: 65px;
    margin-left: 2em;}

  .user-container{
    margin-top: -6.5em;}

  .main-content{
    width: 100%;}

  .save-btn{
    width: 50%;
    box-shadow: 0 0 .2em;}

  .create-user-wrapper{
    margin-top: -5em;
    width: 80%;}

  .song-style-wrapper{
    width: 95%;}

  .usr-info{
    margin-top: .5em;
    font-size: 1.2em;}

/*dont turn on tablet size*/
  .settings-img{
    display: none;}

/*dont turn on tablet size*/
  .main-search{
    display: none;}

/*dont turn on tablet size*/
  .search-img{
    display: none;}

  .heart-icon{
    width: 30%;}

  .nav-list{
    padding: 0;}

  .nav-list li{
    margin: 1em;}

  .menu-show{
    display: block;
    font-size: 2em;
    margin-top: .3em;
    margin-right: .1em;}

  .main-nav-bar{
    margin: 0;
    margin-top: 3.1em;}

  .nav-list li:hover{
    padding: 0;}

  .user-position{
    padding-bottom: 2.5em;
    margin-top: -1em;
    height: auto;}

  .edit-usr-form{
    margin-top: 0;
    width: 70%;}

  .signIn-form{
    margin-top: 14em;
    width: 85%;}

  .signIn-form input{
    width: 70%;}

  .wide-btn{
    width: 74.4%;}

  .title-bg{
    margin-top: -7em;}

  .pull-up-10{
    width: 100%;}

  .profile-info-box{
    margin-top: -8em;}

  .profile-info-box section{
    left: 7em;
    width: 60%;
    text-align: left;
    top: 6.5em;}

  .profile-pic{
    top: .5em;
    left: 1em;
    border-radius: 0;
    box-shadow: 0 0 .1em rgba(0, 170, 129, 1);
    width: 150px;}

  fieldset{
    padding-bottom: 2.2em;}

  .menu-icon{
    display: none;}

  .usr-in-usr{
    width: 100%;}

  .user-points{
    background: rgba(28, 29, 28, 1);
    color: white;
    top: .6em;
    right: .1em;
    z-index: 2;}

  img{
    margin: 0 auto;}

  .medium-img{
    margin-bottom: 1em;}

  .votes-position{
    top: .8em;
    background: rgb(0, 170, 129);
    width: 12%;}
  }

/*MOBILE*/
@media (max-width: 600px){
  .song-style-wrapper{
    margin-top: 16em;}

  header{
    text-align: center;
    box-shadow: 0 0 .5em;}

  .vote-box{
    width: 60px;
    height: 10em;
    margin-top: -15em;
    float: right;
    transition: all .2s;}

  .vote-box img{
    width: 60%;}


  .nav-list li{
   font-size: 1.3em;}

  .icon-img{
    width: 100%;
    height: 2em;
    cursor: pointer;}

  .ng-scope{
    margin-top: 2.8em;
    transition: all .3s;}

  /*form*/
  .ng-valid,
  .ng-valid-email{
    border: none;
    outline: none;
    display: block;
    width: 90%;
    transition: all .3s;}

  .save-btn{
    width: 50%;
    box-shadow: 0 0 .2em;}

  .user-container{
    margin-top: 2em;}

  .user-position{
    margin-top: 4em;}

  img{
    border-radius: 0;
    width: 35%;}

  .usr-info{
    margin-top: .5em;
    font-size: 1.2em;}

  .enter-song-form{
    margin-top: 10em;}

/*song box-iframe*/
  .ng-binding{
    width: 100%;}

  iframe{
    width: 90%;
    margin-top: 2em;}
/*song box-iframe*/

  .create-user-wrapper{
    margin-top: 7.2em;
    width: 90%;}

  .title-bg{
    margin-top: -3em;}

  .settings-img{
    display: none;}

  .menu-show{
    display: block;
    font-size: 2em;}

  .profile-info-box{
    width: 100%;
    margin-top: 2.5em;}

  .profile-info-box section{
    font-size: .9em;
    left: 8.5em;
    top: 7em;}

  .profile-pic{
    width: 100px;}

  .edit-usr-form{
    margin-top: 0;
    width: 70%;}

  .signIn-form{
    margin-top: 13em;}

  .signIn-form input{
    width: 80%;}

  .wide-btn{
    width: 86%;}

  .votes-position{
    width: 10%;
    top: 2em;}

  .user-points{
    width: 30%;}

  .votes-position{
    right: 0;
    top: 1.2em;}
  }

