input:focus{
  box-shadow: 0 0 .5em rgba(0, 170, 129, 1);}

.inputUrl:focus{
  box-shadow: 0 0 .1 white;}

.edit-user-btn:hover{
  cursor: pointer;}

.edit-user-btn:active{
  box-shadow: 0 0 .2em rgba(0, 170, 129, 1);}

.icon-img:active{
  width: 95%;}

.nav-list li:hover{
  color: rgba(0, 170, 129, 1);
  cursor: pointer;}

.style-btn:active{
  box-shadow: 0 0 .2em rgba(0, 170, 129, 1);}

.users-btn:active{
  color: rgba(0, 170, 129, 1);}

a:hover{
  text-shadow: 0 0 .2em black;
  color: rgba(0, 170, 129, 1);
  transition: color .3s;}
