<section data-ng-controller="usersController">
  <form class="signIn-form animated bounceInLeft" name="signInForm">
    <fieldset>
      <legend>Sign In</legend>
      <label for="existingUserUsername">Email</label>
      <input type="text" id="existingUserEmail" data-ng-model="existingUser.basic.email" placeholder="name@email.com">
      <label for="existingUserPassword">Password</label>
      <input type="password" id="existingUserPassword" data-ng-model="existingUser.basic.password">
      <button type="submit" class="login-btn style-btn" data-ng-click="signIn(existingUser)">Sign In</button>
    </fieldset>
  </form>
</section>
