 <section data-ng-controller="usersController">
  <form class="signIn-form animated bounceInLeft" name="signInForm">
    <fieldset>
      <legend>
        <h1>Muder Music</h1>
      </legend>
        <label for="existingUserUsername"></label>
        <input type="text" id="existingUserEmail" data-ng-model="existingUser.basic.email" placeholder="name@email.com" class="push-down">
        <input type="password" id="existingUserPassword" data-ng-model="existingUser.basic.password">
        <button type="submit" class="login-btn style-btn wide-btn" data-ng-click="signIn(existingUser)">Sign In</button>
    </fieldset>
    <p class="white-text">not a member?
      <a href="#/create_user" title="create your account" class="pretty">Join us.</a>
    </p>
  </form>
</section>
