<div data-ng-controller="usersController" data-ng-init='getAllUsers()'>
  <h1> USERS: </h1>
  <ul data-ng-repeat="user in users">

    <li>{{user.username}}</li>

    <li>{{user.email}}</li>

    <li>
      <img src={{user.avatar}}>
    </li>

    <li data-ng-init=getSongs(user)>
      <ul data-ng-repeat='song in user.songs'>
        <li>{{song}}</li>
      </ul>
    </li>

    <!-- <li>
      <form data-ng-if="user.editing">
        <label for="user{{user._id}}">Edit User</label>
        <input type="text" id="user{{user._id}}" data-ng-model="user.avatar">
        <button type="submit" data-ng-click="save(user)">Save Changes</button>
        <button type="button" data-ng-click="editToggle(user)">Cancel</button>
      </form>
      <button data-ng-click="editToggle(user)" data-ng-if = "!user.editing">Edit User</button>
    </li> -->

  </ul>
</div>
