<main class="main-content center-box" data-ng-controller="usersController" data-ng-init='getAllUsers()'>
  <div class="user-container ">
    <ul data-ng-repeat="user in users | orderBy:'-(points + bonusPoints)'" class="center-box usr-in-usr">
      <li class="user-position full-width">
        <img src={{user.avatar}} alt="user's image avatar">
        <ul class="usr-info full-width white-text">
          <li class="pretty">{{user.username}}</li>
          <li>{{user.basic.email}}</li>
          <li>{{user.bio}}</li>
        </ul>
        <a href="#/specificUser/{{user._id}}">
          <button class="users-btn profile-link">View Profile</button>
        </a>
      </li>
      <li class="show-posted-songs-btn pull-up" data-ng-init='getSongs(user)'>
        <h3 class="pretty user-points">{{user.points + user.bonusPoints}} </h3>
      </li>
    </ul>
  </div>
</main>
