<section data-ng-controller="songsController" data-ng-init="getAllSongs()">
  <section data-add-new-song-directive></section>
  <ul data-ng-repeat="song in songs" class="song-style-wrapper center-box">
    <li ng-bind-html="deliberatelyTrustDangerousSnippet(song.songUrl)">{{song.songUrl}}</li>
    <li>{{song.postedBy}}</li>
    <li data-vote-on-song-directive></li>
  </ul>
<!--   <div class="greetingsBox animated zoomOutUp">
    <img src="img/upload.png" alt="upload image">
    <h1>Welcome to MuderMusic. Upload your first song.</h1>
  </div> -->
</section>

