<section data-ng-controller="songsController" data-ng-init="getAllSongs()">
  <section data-add-new-song-directive></section>
  <ul data-ng-repeat="song in songs" class="song-style-wrapper center-box">
    <li ng-bind-html="deliberatelyTrustDangerousSnippet(song.songUrl)">{{song.songUrl}}</li>
    <li>{{song.postedBy}}</li>
    <li data-vote-on-song-directive></li>
    <section class="vote-box animated bounceInDown">
      <span class="song-points" title="total points">
        <img class="heart-icon" src="img/heart.png">{{song.points}}
      </span>
      <section class="flex-center m-position">
        <span data-ng-click="upVote(song); save(song)">
          <img src="img/like.png" alt="like picture btn" class="icon-img" title="up vote this song">
        </span>
        <span data-ng-click="downVote(song); save(song)">
          <img src="img/unlike.png" alt="unlike picture btn" class="icon-img" title="down vote this song">
        </span>
      </section>
    </section>
  </ul>
</secstion>
